@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url(http://fonts.googleapis.com/css?family=Volkhov:400italic);
/* var text-decoration */
/*--
	Common Css
--*/
body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-size: 30px;
  font-weight: 400;
}
h3 {
  font-size: 28px;
  font-weight: 300;
}
p {
  font-size: 15px;
  line-height: 28px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
}
.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
}
.section-title p {
  font-family: 'Volkhov', serif;
  font-style: italic;
  color: #666;
}
/*--
	Header Start
--*/
header {
  padding: 24px 0;
}
header .navbar {
  background: white;
  margin-bottom: 0px;
}
header .navbar-brand {
  padding-top: 5px;
}
header .navbar-sticky {
  top: 0;
  position: fixed;
  border: 0px;
  width: 100%;
  padding: 0 15% 0 15%;
}
/*--
	Slider Start
--*/
#home-slider {
  background: url("../img/slider-bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 10% 0%;
  padding: 200px 0 280px 0;
  position: relative;
}
#home-slider:before {
  content: "";
  position: inherit;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #8b86a3, #322e40);
  opacity: 0.8;
}
#home-slider .block {
  color: #E3E3E4;
}
#home-slider .block h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 10px;
  padding-bottom: 45px;
}
#home-slider .block p {
  font-size: 23px;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  padding-left: 80px;
}

#logo-big {

}

#blog, #post {
    padding: 50px 0 40px;
}

#about {
  padding: 100px 0;
}
#about .block h2 {
  padding-top: 35px;
  line-height: 27px;
  margin: 0;
}
#about .block p {
  color: #7B7B7B;
  padding-top: 20px;
}
#about .block img {
  padding-left: 40px;
  width: 100%;
}
#about .section-title {
  margin-bottom: 0px;
}
#about .section-title p {
  padding-top: 20px;
}

/*--
	Feature Start
--*/
#feature {
  background: url("../img/featue-bg.jpg");
  background-position: 50% 94px;
  width: 100%;
  display: block;
  position: relative;
  overflow: visible;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 100px 0;
}
#feature h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}
#feature p {
  color: #8d8f92;
  margin-bottom: 20px;
}
#feature .btn-view-works {
  background: #655E7A;
  color: #fff;
  padding: 10px 20px;
}
/*--
	content Start
--*/
#team {
  padding: 100px 0;
}
#team .block h2 {
  line-height: 27px;
  color: #5C5C5C;
  padding-top: 110px;
}
#team .block p {
  padding-top: 50px;
  color: #7B7B7B;
}
#team .counter-box li {
  width: 100%;
  float: left;
  text-align: left;
  margin: 80px 0 0 125px;
}
#team .counter-box li i {
  font-size: 35px;
}
#team .counter-box li h4 {
  font-size: 30px;
  font-weight: bold;
}
#team .counter-box li span {
  color: #555;
}
#team .team-carousel {
  text-align: center;
  width: 75%;
  border: 1px solid #DEDEDE;
  padding: 24px;
  margin: 0 auto;
}
#team .team-carousel img {
  padding-bottom: 38px;
}
#team .team-carousel p {
  line-height: 28px;
  font-weight: 300;
  padding-bottom: 20px;
}
#team .team-carousel .user img {
  padding-bottom: 0px;
  border-radius: 500px;
}
#team .team-carousel .user p {
  padding-bottom: 0;
  font-size: 12px;
  line-height: 20px;
  color: #353241;
}
#team .team-carousel .user p span {
  display: block;
  color: #353241;
  font-weight: 600;
}
#team .team-carousel .owl-carousel .owl-pagination div {
  border: 1px solid #1D1D1D;
  border-radius: 500px;
  display: inline-block;
  height: 10px;
  margin-right: 15px;
  width: 10px;
}
#team .team-carousel .owl-carousel .owl-pagination div.active {
  background: #5C5C5C;
  font-size: 30px;
  display: inline-block;
  border: 0px;
}
/*--
	features Start
--*/
#logo {
  padding-top: 30px;
  padding-bottom: 75px;
}
#logo .clients-logo-img {
  padding: 0px 50px;
}



#global-header {
  background: url("../img/slider-bg2.jpg") no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 107px;
  position: relative;
  background-attachment: fixed;
}
#global-header:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #928dab, #1f1c2c 70%);
  opacity: 0.8;
}
#global-header .block {
  color: #E3E3E4;
  margin: 0 auto;
  padding-left: 90px;
  text-align: center;
}
#global-header .block h1 {
  font-weight: 100;
  font-size: 45px;
  letter-spacing: 6px;
  padding-bottom: 15px;
  margin-top: 0;
  text-transform: capitalize;
}
#global-header .block p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 3px;
}

/*--
	preview Start
--*/
#preview {
  overflow: hidden;
  padding: 80px 0;
}

#preview .block .mix {
  display: none;
}

}

/*--------- Heading------------*/
.heading {
  padding-bottom: 60px;
  text-align: center;
}
.heading h2 {
  color: #000;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
}
.heading p {
  font-size: 18px;
  line-height: 40px;
  color: #292929;
  font-weight: 300;
}

/*--
	footer Start
--*/
footer {
  background: #F5F5F5;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 55px;
}
footer p {
  font-size: 13px;
  line-height: 25px;
  color: #919191;
}
footer a {
  color: #595959;
}
footer .footer-manu {
  padding-bottom: 25px;
}
footer .footer-manu ul {
  margin: 0px;
  padding: 0px;
}
footer .footer-manu ul li {
  display: inline-block;
  padding: 0px 20px;
}
footer .footer-manu ul li a {
  display: inline-block;
  color: #494949;
}
footer .footer-manu ul li a:hover {
  color: #000;
}

/*---------------------------------------------
					CUSTOM TABLE
-----------------------------------------------*/

th {
    padding-right: 30p
}

video {
    width: 95%;
}

.column {
  float: left;
  width: 25%;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.btn:hover {
  background-color: RoyalBlue;
}
