<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WE BELIEVE IN GREAT IDEAS</h2>
        <p>

            What Denys believe

        </p>
        <p>

            What Jacob believe

        </p>
        <p>

            What Marino believe

        </p>
        <p>

            What Martin believe

        </p>
        <p>

            What Niklas believe

        </p>
        <p>

            What Sebastian believe

        </p>
    </div>
  </div>
</div>
</section>