<section id="download" class="site-section">
  <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>Download</h2>
                    <p>Via the download button you are redirection to our github repository where you can download our Unity Project and soon a build to play.</p>
                    <a href="img/VRForFuture.png">
                        <a href="https://github.com/Kreunus/vrForFuture"><button class="btn"><i class="fa fa-download"></i>Download</button></a>
                    <p>GLHF</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
