<!-- Slider Start -->
<section id="home-slider">
  <div class="container">
      <div class="col-md-12 col-md-offset-0">
        <div class="block">
            <table>
                <th class="animated fadeInUp" style="padding-right: 30px">
                    <img src="img/VRForFuture.png" id="logo-big">
                </th>
                <th class="animated fadeInUp">
                    <img src="img/cotation.png" id="cotation">
                    <p style="color: floralwhite; font-size: 30px">
                        We want to create a VR game by exploring and experimenting with VR technology. Our game will present a playful (survival) hunting experience in an environment with climbing and parkouring features. Our mission is to make people experience the possibilities of virtual reality.
                    </p>
                </th>
            </table>
        </div>
      </div>
  </div>
</section>
