<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">{{ page.title }}</h1>
          <p class="animated fadeInUp">“We want to create a VR game by exploring and experimenting with VR technology. Our game will present a playful (survival) hunting experience in an environment with climbing and parkouring features. Our mission is to make people experience the possibilities of virtual reality.”</p>
        </div>
      </div>
    </div>
  </div>
</section>
    
