<section id="home">
  <div class="background" class="container">
      <div class="block">
            <table>
                <th class="animated fadeInUp" style="padding-right: 80px">
                    <img src="img/VRForFuture.png" id="logo-big">
                </th>
                <th class="animated fadeInUp">
                    <p>
                      We want to create a virtual reality game by exploring and experimenting with technology. 
                      Our game will present a playful experience in an environment with climbing and hunting features.
                      Our ambitious mission is to make people experience the possibilities of virtual reality.
                    </p>
                </th>
            </table>
        </div>
  </div>
</section>
