<div>
    <img src="img/cotation.png" alt="IMG">
    <p>"Here's what I think about this project"</p>
    <div class="user">
      <img src="img/item-img1.jpg" width="50" height="50">
      <p><span>Denys Myroniuk</span> Team</p>
    </div>
</div>
<div>
    <img src="img/cotation.png" alt="IMG">
    <p>"Here's what I think about this project"</p>
    <div class="user">
      <img src="img/item-img1.jpg" width="50" height="50">
      <p><span>Jakob Heschl</span> Team</p>
    </div>
</div>
<div>
    <img src="img/cotation.png" alt="IMG">
    <p>"Here's what I think about this project"</p>
    <div class="user">
      <img src="img/item-img1.jpg" width="50" height="50">
      <p><span>Marino Gabel</span> Team</p>
    </div>
</div>
<div>
    <img src="img/cotation.png" alt="IMG">
    <p>"Here's what I think about this project"</p>
    <div class="user">
      <img src="img/item-img1.jpg" width="50" height="50">
      <p><span>Martin Christian Solihin</span> Team</p>
    </div>
</div>
<div>
    <img src="img/cotation.png" alt="IMG">
    <p>"Here's what I think about this project"</p>
    <div class="user">
      <img src="img/item-img1.jpg" width="50" height="50">
      <p><span>Niklas Janssen</span> Team</p>
    </div>
</div>
<div>
    <img src="img/cotation.png" alt="IMG">
    <p>"Here's what I think about this project"</p>
    <div class="user">
      <img src="img/item-img1.jpg" width="50" height="50">
      <p><span>Sebastian Pütz</span> Team</p>
    </div>
</div>
<div>
    <img src="img/cotation.png" alt="IMG">
    <p>"Here's what I think about this project"</p>
    <div class="user">
      <img src="img/item-img1.jpg" width="50" height="50">
      <p><span>Prof. Dr.-Ing. David Strippgen</span> Project Manager</p>
    </div>
</div>