<nav class="navbar">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div>
        <button type="button" class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1">

        </button>
            <div class="navbar-brand">
                <a href="#home"><img src="img/vrBlock.png" width="37" height="42"></a>
            </div>
      </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a class="navbar-text smoothscoll" href="#home">Home</a></li>
            <li class="nav-item"><a class="navbar-text smoothscoll" href="#about">About</a></li>
            <li class="nav-item"><a class="navbar-text smoothscoll" href="#team">Team</a></li>
            <li class="nav-item"><a class="navbar-text smoothscoll" href="#screenshots">Screenshots</a></li>
            <li class="nav-item"><a class="navbar-text smoothscoll" href="#videos">Videos</a></li>
            <li class="nav-item"><a class="navbar-text" href="https://github.com/Kreunus/vrForFuture">Download</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      <!-- /.container-fluid -->
</nav>
