<nav class="navbar navbar-sticky"> 
      <!-- Brand and toggle get grouped for better mobile display -->
      <div>
        <button type="button" class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        </button>
            <div class="navbar-brand">
                <img src="img/VRForFuture.png" width="34.5" height="40.5">
            </div>
      </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a class="nav-link" href="#home-slider">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
            <li class="nav-item"><a class="nav-link" href="#screenshots">Screenshots</a></li>
            <li class="nav-item"><a class="nav-link" href="#videos">Videos</a></li>
            <li class="nav-item"><a class="nav-link" href="#download">Download</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      <!-- /.container-fluid -->
</nav>
