<section id="portfolio">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">

              <h2>Portfolio</h2>

              <div class="portfolio-contant">
                <ul id="portfolio-contant-active">

                {% for project in site.data.projects %}
                <li class="mix {{ project.category }}">
                  <a href="#">
                    <img src="{{ project.img}}" alt="{{ project.title }}">
                    <div class="overly">
                      <div class="position-center">
                        <h2>{{ project.title }}</h2>
                        <p>{{ project.content }}</p>
                      </div>
                    </div>
                    </a>
                </li>
                {% endfor %}

                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="section-title">
                    <table>
                        <tr>
                            <td>
                                <h3>Menu</h3>
                                <video controls>
                                    <source src="img/portfolio/videotry.mp4" type="video/mp4">
                                </video>
                            </td>
                            <td>
                                <h3>Menu</h3>
                                <video controls>
                                    <source src="img/portfolio/videotry.mp4" type="video/mp4">
                                </video>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>Menu</h3>
                                <video controls>
                                    <source src="img/portfolio/videotry.mp4" type="video/mp4">
                                </video>
                            </td>
                            <td>
                                <h3>Menu</h3>
                                <video controls>
                                    <source src="img/portfolio/videotry.mp4" type="video/mp4">
                                </video>
                            </td>
                        </tr>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
