<section id="preview">
    <div class="container">
        <div class="row">
          <div >
            <div class="block">
                
              <h2>Preview</h2>
                  <div class="preview-contant">
                    <ul> 
                        <li>
                          <a href="img/preview/work1.jpg">
                            <img src="img/preview/work1.jpg">
                            <div class="overly">
                              <div class="position-center">
                                <h2>Bear</h2>
                                <p>Our Boss</p>
                              </div>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="img/preview/work2.jpg">
                            <img src="img/preview/work2.jpg">
                            <div class="overly">
                              <div class="position-center">
                                <h2>Bear</h2>
                                <p>Our Boss</p>
                              </div>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="img/preview/work3.jpg">
                            <img src="img/preview/work3.jpg">
                            <div class="overly">
                              <div class="position-center">
                                <h2>Bear</h2>
                                <p>Our Boss</p>
                              </div>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="img/preview/work4.jpg">
                            <img src="img/preview/work4.jpg">
                            <div class="overly">
                              <div class="position-center">
                                <h2>Bear</h2>
                                <p>Our Boss</p>
                              </div>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="img/preview/work5.jpg">
                            <img src="img/preview/work5.jpg">
                            <div class="overly">
                              <div class="position-center">
                                <h2>Bear</h2>
                                <p>Our Boss</p>
                              </div>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="img/preview/work6.jpg">
                            <img src="img/preview/work6.jpg">
                            <div class="overly">
                              <div class="position-center">
                                <h2>Bear</h2>
                                <p>Our Boss</p>
                              </div>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="img/VRForFuture.png">
                            <img src="img/VRForFuture.png">
                            <div class="overly">
                              <div class="position-center">
                                <h2>Bear</h2>
                                <p>Our Boss</p>
                              </div>
                            </div>
                          </a>
                        </li>
                    </ul>
                  </div>
              
            </div>
          </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <table>
                        <tr>
                            <td>
                                <h3>Menu</h3>
                                <video controls>
                                    <source src="img/preview/videotry.mp4" type="video/mp4">
                                </video>
                            </td>
                            <td>
                                <h3>Menu</h3>
                                <video controls>
                                    <source src="img/preview/videotry.mp4" type="video/mp4">
                                </video>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>Menu</h3>
                                <video controls>
                                    <source src="img/preview/videotry.mp4" type="video/mp4">
                                </video>
                            </td>
                            <td>
                                <h3>Menu</h3>
                                <video controls>
                                    <source src="img/preview/videotry.mp4" type="video/mp4">
                                </video>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <h3>Demo</h3>
                                <video controls>
                                    <source src="img/preview/videotry.mp4" type="video/mp4">
                                </video>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>Game Download</h2>
                    <a href="img/VRForFuture.png">
                        <button class="btn"><i class="fa fa-download"></i> Download</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
