<section id="screenshots" class="screenshots">
  <div class="container">
    <div class="row masonry-container">

    <h2>Screenshots</h2>
        
        <div class="col-lg-4 col-sm-6 mb-5">
            <article class="text-center">
                  <a href="img/screenshots/Level2.png"><img src="img/screenshots/Level2.png" alt="blurry picture" id="screenshot"></a>
                  <p class="text-uppercase mb-2">Level 2</p>
            </article>
        </div>   
    
        <div class="col-lg-4 col-sm-6 mb-5">
            <article class="text-center">
                  <a href="img/screenshots/Level2.png"><img src="img/screenshots/Level2.png" alt="blurry picture" id="screenshot"></a>
                  <p class="text-uppercase mb-2">Level 2</p>
            </article>
        </div>
      
    </div>
  </div>
</section>
