<section id="screenshots" class="screenshots">
  <div class="container">
    <div class="row masonry-container">

    <h2>Screenshots</h2>

      <div class="col-lg-4 col-sm-6 mb-5">
        <article class="text-center">
          <a href="img/screenshots/work1.jpg"><img src="img/screenshots/work1.jpg" alt="blurry picture"></a>
          <p class="text-uppercase mb-2">Title</p>
        </article>
      </div>

      <div class="col-lg-4 col-sm-6 mb-5">
        <article class="text-center">
          <a href="img/screenshots/work2.jpg"><img src="img/screenshots/work2.jpg" alt="blurry picture"></a>
          <p class="text-uppercase mb-2">Title</p>
        </article>
      </div>

      <div class="col-lg-4 col-sm-6 mb-5">
        <article class="text-center">
          <a href="img/screenshots/work3.jpg"><img src="img/screenshots/work3.jpg" alt="blurry picture"></a>
          <p class="text-uppercase mb-2">Title</p>
        </article>
      </div>

      <div class="col-lg-4 col-sm-6 mb-5">
        <article class="text-center">
          <a href="img/screenshots/work4.jpg"><img src="img/screenshots/work4.jpg" alt="blurry picture"></a>
          <p class="text-uppercase mb-2">Title</p>
        </article>
      </div>

      <div class="col-lg-4 col-sm-6 mb-5">
        <article class="text-center">
          <a href="img/screenshots/work5.jpg"><img src="img/screenshots/work5.jpg" alt="blurry picture"></a>
          <p class="text-uppercase mb-2">Title</p>
        </article>
      </div>

      <div class="col-lg-4 col-sm-6 mb-5">
        <article class="text-center">
          <a href="img/screenshots/work6.jpg"><img src="img/screenshots/work6.jpg" alt="blurry picture"></a>
          <p class="text-uppercase mb-2">Title</p>
        </article>
      </div>

    </div>
  </div>
</section>
