<section id="team" class="site-section">
  <div class="container">
    <div class="row">
    <h2>The Team</h2>
    </div>
    <div class="row">
        <div class="block" align-items: center>
          <ul class="counter-box clearfix">
            <table>
                <td>
                    <li>
                        <table>
                            <th>
                                <img src="img/teampics/denis.png" id="profile_picture">
                            </th>
                            <th>
                                <h5>Denys Myroniuk</h5>
                                <h5><a href="mailto:Deny.Myroniuk@student.htw-berlin.de">Denys.Myroniuk@Student.HTW-Berlin.de</a></h5>
                                <p>"I really like VR!"</p>
                            </th>
                        </table>
                    </li>
                    <li>
                        <table>
                            <th>
                                <img src="img/teampics/jakob.png" id="profile_picture">
                            </th>
                            <th>
                                <h5>Jakob Heschl</h5>
                                <h5><a href="mailto:Jakob.Heschl@Student.HTW-Berlin.de">Jakob.Heschl@Student.HTW-Berlin.de</a></h5>
                                <p>"Leveldesing is totally awesome!"</p>
                            </th>
                        </table>
                    </li>
                    <li>
                        <table>
                            <th>
                                <img src="img/teampics/marino.png" id="profile_picture">
                            </th>
                            <th>
                                <h5>Marino Gabel</h5>
                                <h5><a href="mailto:Marino.Gabel@student.htw-berlin.de">Marino.Gabel@Student.HTW-Berlin.de</a></h5>
                                <p>"ChracterController are my speciality."</p>
                            </th>
                        </table>
                    </li>
                </td>
                <td>
                    <li>
                        <table>
                            <th>
                                <img src="img/teampics/martin.png" id="profile_picture">
                            </th>
                            <th>
                                <h5>Martin Christian Solihin</h5>
                                <h5><a href="mailto:Martin.Solihin@Student.HTW-Berlin.de">Martin.Solihin@Student.HTW-Berlin.de</h5>
                                <p>"UI: even a 3D vr-game needs 2D features. ;)"</p>
                            </th>
                        </table>
                    </li>
                    <li>
                        <table>
                            <th>
                                <img src="img/teampics/niklas.png" id="profile_picture">
                            </th>
                            <th>
                                <h5>Niklas Janssen</h5>
                                <h5><a href="mailto:Niklas.Janssen@Student.HTW-Berlin.de">Niklas.Janssen@Student.HTW-Berlin.de</h5>
                                <p>"What should i write here?"</p>
                            </th>
                        </table>
                    </li>
                    <li>
                        <table>
                            <th>
                                <img src="img/teampics/basti.png" id="profile_picture">
                            </th>
                            <th>
                                <h5>Sebastian Pütz</h5>
                                <h5><a href="mailto:Sebastian.Puetz@Student.HTW-Berlin.de">Sebastian.Puetz@Student.HTW-Berlin.de</a></h5>
                                <p>"I would like to pick my bachelor thesis about sth. with VR"</p>
                            </th>
                        </table>
                    </li>
                </td>
            </table>
            </ul>

            <ul class="counter-box clearfix">
                <li>
                    <table>
                        <th>
                            <img src="img/teampics/strippgen.png" id="profile_picture">
                        </th>
                        <th>
                            <h5>Prof. Dr.-Ing. David Strippgen</h5>
                            <h5><a href="maitlto:David.Strippgen@HTW-Berlin.de">David.Strippgen@HTW-Berlin.de</a></h5>
                            <p>"I am watching the timesheets..."</p>
                        </th>
                    </table>
                </li>
            </ul>
        </div>
    </div>
  </div>
</section>
