<section id="videos">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                  <h2>Videos</h2>
                    <table class="text-uppercase text-center">
                        <tr>
                            <td>
                                <video class="video" controls>
                                    <source src="vid/video1.mp4" type="video/mp4">
                                </video>
                                <p>VR</p>
                            </td>
                            <td>
                                <video class="video" controls>
                                    <source src="vid/videotry.mp4" type="video/mp4">
                                </video>
                                <p>Climb</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <video class="video" controls>
                                    <source src="vid/videotry.mp4" type="video/mp4">
                                </video>
                                <p>Hunt</p>
                            </td>
                            <td>
                                <video class="video" controls>
                                    <source src="vid/videotry.mp4" type="video/mp4">
                                </video>
                                <p>Discover</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <video class="demo" controls>
                                    <source src="vid/videotry.mp4" type="video/mp4">
                                </video>
                                <p>Presentation</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
