<section id="videos" class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                  <h2>Videos</h2>
                    <table class="text-uppercase text-center">
                      
                        <tr>
                             <td colspan="2">
                                 <iframe src="https://mediathek.htw-berlin.de/media/embed?key=c87d906e6b56b37e2747dc37b6a19a1d&width=1102&height=620&autoplay=false&autolightsoff=false&loop=false&chapters=false&related=false&responsive=false&t=0"
                                 data-src="" class="iframeLoaded" width="1102" height="620"
                                 frameborder="0" allowfullscreen="allowfullscreen"
                                 allowtransparency="true"
                                 scrolling="no"></iframe>
                               <p>Preview</p>
                             </td>
                         </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
