<section id="videos" class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                  <h2>Videos</h2>
                    <table class="text-uppercase text-center">
                        <tr>
                            <td>
                                <video class="video" controls>
                                    <source src="vid/vrForFuture_Bow_and_Error.mp4" type="video/mp4">
                                </video>
                                <p>Bow Mechanic</p>
                            </td>
                            <td>
                                <video class="video" controls>
                                    <source src="vid/vrForFuture_Bow_and_Enemy.mp4" type="video/mp4">
                                </video>
                                <p>Hunting</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <video class="video" controls>
                                    <source src="vid/videotry.mp4" type="video/mp4">
                                </video>
                                <p>Climbing</p>
                            </td>

                        </tr>
                        <tr>
                            <td colspan="2">
                                <video class="demo" controls>
                                    <source src="vid/videotry.mp4" type="video/mp4">
                                </video>
                                <p>Presentation</p>
                                <br></br>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
